
/* Top */
.shopping-cart-app__top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.error-message {
    width: 100%;
}

.error-message__text {
    text-align: center;
}

.error-message__text-red {
    background-color: red;
}

.cart-counter {
    width: 100%;
}

.cart-counter__text {
    text-align: center;
}

/* Mid */
.shopping-cart-app__mid {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.product-list {
    display: flex;
    flex-flow: row wrap;
}

.product {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 5px;
}