body {
    margin: 0 10%;
}

/* Property list */
.property-list__properties {
    display: flex;
}

/* Property */
.property {
    flex-basis: 33%;
    margin-right: 10px;
}

.property:last-of-type {
    margin-right: 0px;
}

.property__actions {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;    
}

.navigation__actions {
    display: flex;
}

.navigation__login {
    display: flex;
    flex-flow: column;
}